/* Global Colour variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root{

    /* names to be changed to more descriptive as development continues */

    /* Current CCG website color scheme */
    --jet: #333333ff;
    --english-violet: #503250ff;
    --english-violet-2: #6a4c6dff;
    --quinacridone-magenta: #85425cff;
    --white: #ffffff;
    --dark-cornflower-blue: #163982ff;
    --blue-sapphire: #195d70ff;

    /* Complimentary pallete created using https://coolors.co/ more reminiscent of a 'beach' theme - to be used for accents etc */
    --opal: #9bc4bcff;
    --aero-blue: #d3ffe9ff;
    --middle-blue: #8ddbe0ff;
}

/* Map */

#map{
    height: 70vh;
    width: 100%;
}
